// custom


$colour-secondary: #767676;
$colour-primary: #E92569;
$colour-nav: #efefef;
$colour-bg: #E5E5E5;
$colour-box-shadow: #C7C7C7;


// bootstrap
$theme-colors:(
    "primary": $colour-primary,
    "dark": $colour-nav,
);

$headings-font-family: "Playfair Display", serif;
$font-family-base: 'Lato', sans-serif; 

@import "~bootstrap/scss/bootstrap";
@import "./partials/tabs";
@import "./partials/nav";
@import "./partials/typography";
@import "./partials/accordion";
@import "./partials/carousel";


body{
    background-color: $colour-bg;
};