.navbar{
    padding: 20px 0px;
}

.navbar-light .navbar-brand{
    color: $colour-primary;
    font-family: $headings-font-family;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin-right: 30px;
}

.navbar-light .navbar-toggler{
    border: none;
    color: transparent;
}


.navbar-light .navbar-nav .nav-link{
    color: black;
    padding-left: 10px;

    &:hover{
        background-color: white;
        border-radius: 6px;
        color: black;

        @media (max-width: 991px){
            border-radius: 0;
        }
    }
}

.nav-links{
    display: flex;
    flex-direction: row;

    @media (max-width: 991px){
        flex-direction: column;
    }

    .nav-link{
        margin-right: 20px;
    
        &.active{
            background-color: white;
            border-radius: 6px;
    
            @media (max-width: 991px){
                border-radius: 0;
            }
        }
        
    }
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    width: 90%;
    justify-content: space-between;
}


.form-search{
    display: flex;
    flex-direction: row;

    @media (max-width: 991px) {
        margin-top: 20px;
    }
}

.nav-button{
    color: white;
    background-color: $colour-primary;
    font-family: $font-family-base;
    border-radius: 0 6px 6px 0;
}

.form-control{
    border-radius: 0;
    border: white;
}