.tab-content{
    background: white;
    padding: 20px;
    margin-top: -19px;
    color: $colour-secondary;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 16px 22px $colour-box-shadow;
    min-height: 200px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item{
    border-radius: 6px 6px 0 0;
    padding: 10px 25px;
}

.nav-tabs .nav-link.active{
    color: $colour-secondary;
}

.nav-tabs .nav-item{
    color: $colour-primary;
    border: none;
}