h2{
    color: $colour-primary;
    font-size: 34px;
    padding-top: 35px;
}

p {
    color: $colour-secondary;
    padding-bottom: 40px;
}

i{
    color: #0a0a0a;
    display: inline-block;
    font-size: 20px;
    padding-right: 20px;
}